<form>
	<div class="modal-header">
	  <h3 class="modal-title" ng-if="$ctrl.model">Edit Application</h3>
	  <h3 class="modal-title" ng-if="!$ctrl.model">Add Application</h3>
	</div>
	<div class="modal-body">
	  	<error-summary errors="$ctrl.errors"></error-summary>
	    <customer-edit component="$ctrl.customerAddComponent" customer-model="$ctrl.model"></customer-edit>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" data-ng-click="$ctrl.dismiss()">Cancel</button>
	  	<button class="btn btn-primary" type="submit" data-ng-click="$ctrl.save()">Save</button>
	</div>
</form>