<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="modernizationCloud" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="modernizationCloud" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="modernizationCloud" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="modernizationCloud" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Modernization Cloud</title>
  <base href="/${build.finalName}/"></base>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="#springUrl('/css/normalize.css')">
  <link rel="stylesheet" href="#springUrl('/css/main.css')">
  <link rel="stylesheet" href="#springUrl('/css/app.css')">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="#springUrl('/css/bootstrap.min.css')">
  <!-- Optional theme -->
  <link rel="stylesheet" href="#springUrl('/css/bootstrap-theme.min.css')">
  <!-- Latest compiled and minified JavaScript -->
  <script src="#springUrl('/js/modernizr-2.8.3.min.js')"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
    <h1>Access Denied</h1>
  </div>
</body>
</html>
