/* Brand Colors */
$fancy-purple:#4d148c;
$fancy-lightgray:#999999;
$fancy-orange:#ff6600;
$fancy-green:#00cc00;
$fancy-red:#ff0033;
$fancy-blue:#0099cc;

/* Text Colors */
$body-text:#333;
$main-nav:$fancy-lightgray;

/* Grays */
$gray-lighter:#efefef;
$gray-light:#dedede;
$gray-border:#ccc;
$gray-background: #f1f1f1;

/* Gradients */
$gray-top:$gray-lighter;
$gray-bottom:$gray-light;

/* Helper Classes */
$bg-danger:#f2dede;
$text-danger:#a94442;